# Virtual environments
.venv/
venv/
env/
ENV/
.venv
# Environment variables  
.env
*.env


# Python cache/bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Logs and temp
*.log
practice/
.python-version

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
